{% extends 'workplace_violation_app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<link rel="stylesheet" href="{% static '/admin/css/style.css' %}">
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="{% url 'workplace_violation_app:index' %}">
        <img src="{% static '/admin/img/logo.png' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
      </a>
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'workplace_violation_app:login' %}" class="btn btn-outline-primary text-center">Log in</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'workplace_violation_app:logout' %}" class="btn btn-outline-primary text-center">Log out</a>
      </li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <ul class="navbar-nav navbar-right">
      <li class="text-white">Welcome, {{ user.username }}.</li>
    </ul>
    {% endif %}
  </div>
</nav>
<div class="container-fluid body">
  <div class="text-center">
    <h1>Hello Welcome to the App</h1>
    <h2> Report a Violation</h2>
    <form action ="" method = "post" enctype="multipart/form-data">

      {% csrf_token %}
      {{form}}

      <button type = "submit">Submit</button>

    </form>

    <!--{% if form.errors %}
      <div class="error">
        <p>There were some errors in your submission:</p>
        {{ form.errors }}
      </div>
    {% endif %}

    !-->

  {% if user.is_admin %}
      <a href="{% url 'workplace_violation_app:submissions_table' %}" class="btn btn-outline-primary text-center">View Current Reports</a>
    {% endif %}

  </div>
</div>
{% endblock %}


