{% extends 'workplace_violation_app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% csrf_token %}
<link rel="stylesheet" href="{% static '/admin/css/style.css' %}">
{% block content %}
<div class="text-center">
    <div class="title p-3">
        <h1>Learn More</h1>
    </div>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/construction_stock_photo.jpg' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Reporting Workplace Violations</h4>
          <a href="https://www.osha.gov/workers/file-complaint" class="btn btn-danger">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/rights.jpeg' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Your Rights as a Reporter</h4>
          <a href="https://www.osha.gov/workers" class="btn btn-danger">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/speakup.jpeg' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Why It Is Important to Speak Up</h4>
          <a href="https://www.incidentreport.net/whatisincidentreporting/#:~:text=%2D%20It%20helps%20the%20management%20know,or%20adverse%20events%20have%20occurred." class="btn btn-danger">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/healthcare.png' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Reporting in the Healthcare Industry</h4>
          <a href="https://www.osha.gov/healthcare/workplace-violence/" class="btn btn-danger">Learn more</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/education.avif' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Reporting in an Educational Setting</h4>
          <a href="https://www.nea.org/resource-library/educator-rights-report-wrongdoing" class="btn btn-danger" onclick="">Learn more</a>
      </div>
    </div>
  </div>
     <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{% static '/admin/img/corporate.jpeg' %}" alt="img" style="height: 225px">
      <div class="card-body">
        <h4 class="card-title">Reporting in the Corporate World</h4>
          <a href="https://www.associationofmbas.com/dealing-with-ethics-violations-in-the-corporate-world/" class="btn btn-danger">Learn more</a>
      </div>
    </div>
  </div>

  </div>
</div>
{% endblock %}