{% extends 'workplace_violation_app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<link rel="stylesheet" href="{% static '/admin/css/style.css' %}">
{% block content %}
<div class="text-center">
    <h1>Current Reports</h1>
    {% if user.is_admin %}
    <table class="table">
        <thead>
            <tr>
                <th>Report Date</th>
                <th> Report Status</th>
                <th> Report Number </th>
                <th> View Report</th>
            </tr>
        </thead>
        <tbody>
        {% for report in submissions %}
            <tr>
                <td> {{ report.report_date }}</td>
                <td> {{ report.report_status }}</td>
                <td>{{ report.report_number}}</td>
                <td>
                    <a href="{% url 'workplace_violation_app:view_report' report_number=report.pk %}">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Only admins have access to this information. Please login to an admin account.
    {% endif %}

</div>
{% endblock %}