{% extends 'workplace_violation_app/base.html' %}
{% block content %}
<div class="text-center">
    <h1>Current Reports</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Report Date</th>
                <th> Report Text</th>
                <th> Attached File</th>
            </tr>
        </thead>
        <tbody>
        {% for report in submissions %}
            <tr>
                <td> {{ report.report_date }}</td>
                <td> {{ report.report_text }}</td>
                <td>
                    {% if report.report_file %}
                        <a href="{% url 'workplace_violation_app:file_display' file_path=report.report_file.name %}" target="_blank">{{ report.report_file }}</a>
                    {% else %}
                        No file Attached
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}