{% extends 'workplace_violation_app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
<div class="text-center" >
    <div class="title p-3 bg-white" >
      <h2 class="text-black"> Search for a Submitted Report Below</h2>
<!--      <h5>The Anonymous Workplace Whistleblower</h5>-->
    </div>
    <div>
    <div class=" text-center text-black row p-1" style=" background-color:rgba(199,210,255,.5)"><h5 class="text-black "> Case Number: {{ report.report_number }}</h5> </div>
    <div class=" text-center text-black row p-1" style=" background-color:rgba(199,210,255,.5)"><h5 class="text-black ">Date: {{ report.report_date }}</h5></div>
    <div class=" text-center text-black row p-1" style=" background-color:rgba(199,210,255,.5)"><p> <strong>Text: </strong> {{ report.report_text }}</p></div>

    </div>
    <div class=" text-center text-black" style=" background-color:rgba(199,210,255,.5)">
        {% if report.report_file %}
        <button id="view-file-btn" class="btn-danger">View Submitted File</button>
        {% else %}
            <p> No file attached </p>
        {% endif %}
        <div class="p-3" id="embedded_file" style = "display: none;">
        {% if report.report_file %}
            {% with file_extension=report.report_file.name|slice:'-4:'|lower %}
                {% if file_extension == '.pdf' %}
                    <embed src="{{ report.report_file.url }}" width="75%" height="800px" type="application/pdf" />
                {% elif file_extension == '.jpg' or file_extension == 'jpeg' %}
                    <img src="{{ report.report_file.url }}" alt="{{ report.report_file.name }}"/>
                {% elif file_extension == '.txt' %}
                    <iframe src="{{ report.report_file.url }}" width="75%" height="800px"></iframe>
                {% else %}
                    <p>Unsupported file type: {{ report.report_file.name }}</p>
                {% endif %}
            {% endwith %}
        {% else %}
            <p>No file attached</p>
        {% endif %}
        </div>
        <form class="p-3" method="post" action="{% url 'workplace_violation_app:mark_as_resolved' report.report_number %}">
            {% csrf_token %}
            <button type="submit" class="btn p-1 btn-success">Mark as Resolved</button>
        </form>
<!--        <h3 >Admin Notes:</h3>-->
        <div class="container col-md-10 text-center rounded bg-body border border-dark" style="text-align:left height:1000px;">
        <form class="text-center" method="post">
            {% csrf_token %}
            {{ notes_form.as_p }}
            <button type="submit" class="btn btn-primary">Save Notes</button>
        </form>

        </div>
        <form class="p-3" action="{% url 'workplace_violation_app:submissions_table'%}" method="get">
                <button type="submit" >Back to Submissions Table</button>
        </form>
    </div>
    </div>
</div>
<script>
    document.getElementById('view-file-btn').addEventListener('click', function() {
        document.getElementById('embedded_file').style.display = 'block';
    });
</script>
{% endblock %}
